header {
    background-color: rgb(0, 255, 127);}

#h1 {
    background-color: rgb(0, 255, 127);
    color: #1c8f85;}

nav {
    max-width: 960px;
    background-color: rgb(0, 255, 127);}

#1_chapter {
    background-color: rgb(0, 255, 127);}

#2_chapter {
    background-color: rgb(0, 255, 127);}

#3_chapter {
    background-color: rgb(0, 255, 127);}
.n_k {
    background-color: rgb(73, 126, 118);}

.k {
    background-color: rgb(170, 240, 209);}

footer {
    background-color: rgb(0, 255, 127);}

@media (min-width: 768px){
    header{
        height: 120px;}
    #Logoh1{
        max-width: 960px;}

    #logo{
        height: 100px;
        width: 120px;}
    #con3{
        text-align: right;}
    #con2{
        text-align: center;}
    footer{
        height: 130px;}
}

@media (max-width: 768px){
    header{
        height: 14vh;

    }

    #logo {
        height: 10vh;
        width: 25vw;
    }

    #h1{
        text-align: left;
        font-size: calc(3vh*1.2);
    }
}
